// Colors
$green        : #4CD964;
$cyan         : #5AC8FA;
$blue         : #007AFF;
$purple       : #5856D6;
$magenta      : #FF2D70;
$red          : #FF3B30;
$orange       : #FF9500;
$yellow       : #FFCC00;
$gray         : #8E8E93;
$grass        : #8BC34A;
$sky-blue     : #1BADF8;
$light-purple : #CC73E1;
$brown        : #A2845E;

@import "reset";

$chart_height:150px;

div[v-cloak]{
  display: none;
}

@mixin bdrs($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
body{
  background-color: #F4F4F4;
  width: 500px;
}

@media (min-width: 500px){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
  }
  .container{
    width: 500px;
    .chart{
      padding: 50px 20px;
      @include bdrs(10px)
    }
  }
}

.container{

}

.chart{
  padding: 30px 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .chart-item{
    .chart-pic{
      margin:0 auto 10px;
      border: 1px solid;
      position: relative;
      height: $chart_height;
      width: 60%;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      .chart-fill{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 66%;
      }

    }
    .blue{
      border-color: $blue;
      .chart-fill{
        background-color: $blue;
      }
    }
    .orange{
      border-color: $orange;
      .chart-fill{
        background-color: $orange;
      }
    }
    .green{
      border-color: $green;
      .chart-fill{
        background-color: $green;
      }
    }
    .label{
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      color: #4A4A4A;
      line-height: 150%;
    }
    .capacity{
      font-size: 15px;
      line-height: 150%;
      font-family: "PTSans",sans-serif;
      text-align: center;
      color: #9B9B9B;
    }
  }
}



// animation
@mixin animation($value){
  -webkit-animation: $value;
  -o-animation: $value;
  animation: $value;
}

$height-loading: 30px;
.loading{
  box-sizing: content-box;
  height: $height-loading;
  padding: 7.5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .loading-item{
    width: 3px;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }
  &-1{
    height: $height-loading * 1;
    @include animation(load-frame-1 1s infinite linear 0s);
    background-color: $red;
  }
  &-2{
    height: $height-loading * 0.5;
    @include animation(load-frame-2 1s infinite linear 0s);
    background-color: $orange;
  }
  &-3{
    height: $height-loading * 0.25;
    @include animation(load-frame-1 1s infinite linear 0s);
    background-color: $green;
  }
}

@keyframes load-frame-1 {
  0% {height: $height-loading * .25}
  50% {height: $height-loading * 1}
  100% {height: $height-loading * .25}
}

@keyframes load-frame-2 {
  0% {height: $height-loading * 1}
  50% {height: $height-loading * .25}
  100% {height: $height-loading * 1}
}
