<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="VPS.png">
    <link rel="shortcut icon" href="VPS.png" type="image/png">
    <link rel="stylesheet" href="css/vps.css?v=20220811214052">
    <title>VPS</title>
</head>
<body>
<div class="container" v-cloak>
    <div v-if="isLoading" class="loading">
        <div class="loading-1 loading-item"></div>
        <div class="loading-2 loading-item"></div>
        <div class="loading-3 loading-item"></div>
    </div>
    <div>
        <div class="chart clearfix" v-if="info">
            <div class="chart-item">
                <div class="chart-pic green">
                    <div class="chart-fill" :style="`height: ${percentageData}%`"></div>
                </div>
                <div class="label">流量</div>
                <div class="capacity">{{ info.monthUsage }}/{{ info.monthAmount }}G</div>
            </div>

        </div>
    </div>
</div>


<script src="./js/vue.global.prod.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/vps.js?v=20220811214052"></script>
</body>
</html>
